#bounce-box
{
  position: absolute;
  top: 200px;
  left: 250px;
  width: 550px;
}

.bounce-title
{
  height: 15px !important;
  padding: 5px 0px 10px 0px;
  text-align: center;
  color: #333333;
  font-size: 11px;
  font-weight: bold;
}

.bounce-body
{
  padding: 5px 10px 10px 10px;
}

.bounce-body .title
{
  width:75px;
}

#bounce-box input.button
{
  margin-top: 8px;
}

/*
.bounce-ico
{
  position: absolute;
  top: 0px;
  left: 340px;
}
*/